#game-header {
  color: orange;
  font-size: 50px;
}
#display-message {
  font-size: 30px;
}
.heroes-pic {
  width: 150px;
  text-align: center
}

.player {
  width: 150px;
  text-align: center
}

img.animated-gif {
  width: 150px;
  height: auto;
}

body {
  background: url('../images/graybackground.png')
}